.parent-container {
  grid-row: 2;
  border: 3px solid black;
  width: 350px;
  max-height: 490px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 15px 15px repeat(2, 50px) 50px 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "lastUpdated lastUpdated lastUpdated lastUpdated lastUpdated lastUpdated"
    "location location location location location location"
    "currentWeather currentWeather currentWeather currentWeather currentWeather currentWeather"
    "currentWeather currentWeather currentWeather currentWeather currentWeather currentWeather"
    "conditions conditions conditions conditions conditions conditions"
    "forecast forecast forecast forecast forecast forecast";
}

.last-updated {
  grid-area: lastUpdated;
  justify-self: center;
  align-content: flex-start;
  font-size: 0.8em;
  color: grey;
}

.location {
  grid-area: location;
  justify-self: center;
  align-content: flex-end;
}

.current-weather {
  grid-area: currentWeather;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
}

.current-status {
  /* justify-self: center; */
  align-self: center;
  width: 95px;
}

.high-low-temp-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 20px;
}

.high-temperature {
  order: 1;
  padding-bottom: 10px;
}

.low-temperature {
  order: 2;
  padding-top: 10px;
}

.current-temperature {
  font-size: 5em;
  align-self: center;
}

.conditions {
  grid-area: conditions;
  justify-self: center;
  align-self: center;
}

.forecast {
  grid-area: forecast;
  justify-self: center;
}
