#forecast-table {
  border-collapse: collapse;
}

#forecast-table-caption {
  text-align: left;
  color: grey;
  font-style: italic;
}

.forecast-table-cell {
  border: 0;
  text-align: center;
  padding: 8px;
}

.forecast-time {
  margin-bottom: 5px;
  color: grey;
  font-size: 10pt;
}

.forecast-precipitation-precentage {
  font-size: 10pt;
}
